version: '3.8'
services:
	mongo:
		image: mongo:6.0
		restart: unless-stopped
		ports:
			- "27017:27017"
		volumes:
			- mongo-data:/data/db

	# optional: mongo web ui
	mongo-express:
		image: mongo-express:1.0.0
		environment:
			ME_CONFIG_MONGODB_SERVER: mongo
			ME_CONFIG_MONGODB_PORT: 27017
		ports:
			- "8081:8081"
		depends_on:
			- mongo

volumes:
	mongo-data:
		driver: local
